<div class="main-container">
  <button class="back-button"
          mat-button
          routerLink="/home"
          type="button">
    <mat-icon>arrow_back</mat-icon>
    Wstecz
  </button>
  <div class="facilities-list">
    <div class="title">Lista instytucji</div>
    <div class="sort-options">
      <mat-checkbox [formControl]="dateSort">Sortowanie po dacie</mat-checkbox>
    </div>
    <div class="facilities-wrapper">
      <ng-container *ngFor="let facility of facilities; index as i">
        <div class="facility"
             [ngClass]="{'active': facility?.id === selectedId}"
             (click)="selectFacility(facility.id, facility)">
          <div class="facility-name">{{facility.name}}</div>
          <span class="facility-date">zmieniono: {{facility.updatedAt | date : "HH:mm dd.MM.yy"}}</span>
          <div class="divider" *ngIf="i !== facilities.length - 1"></div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="details-view">
    <form class="facility-form"
          *ngIf="facilities.length > 0"
          [formGroup]="facilityForm"
          (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{facilityForm.get('name')?.value?.trim().length > 0 ? facilityForm.get('name')?.value : 'Nowa instytucja'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="double-input-line">
            <mat-form-field>
              <mat-label>Województwo</mat-label>
              <input matInput
                     formControlName="voivodeship"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Powiat</mat-label>
              <input matInput
                     formControlName="district"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
          </div>
          <div class="single-input-line">
            <mat-form-field>
              <mat-label>Nazwa</mat-label>
              <input matInput
                     formControlName="name"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
          </div>
          <div class="single-input-line">
            <mat-form-field>
              <mat-label>Kategoria</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let category of CategoryEnum | keyvalue : noOrder"
                            [value]="category.key">
                  {{category.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="single-input-line">
            <mat-form-field>
              <mat-label>Adres</mat-label>
              <input matInput
                     formControlName="address"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
          </div>
          <div class="double-input-line">
            <mat-form-field>
              <mat-label>Numer telefonu</mat-label>
              <input matInput
                     formControlName="phone"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input matInput
                     formControlName="email"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
          </div>
          <div class="single-input-line">
            <mat-form-field>
              <mat-label>Link strony</mat-label>
              <input matInput
                     formControlName="website"
                     autocomplete="off"
                     type="text">
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="button-row">
        <button mat-stroked-button
                color="warn"
                type="button"
                [disabled]="!facilityForm.valid"
                (click)="deleteFacility()">Usuń
        </button>
        <button mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!facilityForm.valid">Zapisz
        </button>
      </div>
    </form>
  </div>
</div>
