<div class="main-container">
  <form class="upload-part" [formGroup]="searchWebsiteForm" (ngSubmit)="onSubmit()">
    <div class="website">
      <div class="title">Pobierz dane ze strony</div>
      <div class="website-field">
        <mat-form-field>
          <mat-label>Link strony</mat-label>
          <input matInput
                 formControlName="website"
                 autocomplete="off"
                 type="text"
                 required="false">
          <mat-error *ngIf="searchWebsiteForm.get('website')?.hasError('required')">
            Pole nie może być puste!
          </mat-error>
        </mat-form-field>
        <mat-slide-toggle color="primary"
                          formControlName="crawlWebsite">Przeszukaj stronę
        </mat-slide-toggle>
        <div class="button-row">
          <button class="action-button"
                  mat-raised-button
                  color="accent"
                  type="submit"
                  [disabled]="!searchWebsiteForm.get('website')?.valid">Dalej
          </button>
        </div>
      </div>
    </div>
    <div class="divider vertical"></div>
    <div class="file">
      <div class="file-wrapper">
        <div class="title">Pobierz dane z pliku</div>
        <mat-form-field>
          <mat-label>Link pliku pdf</mat-label>
          <input matInput
                 formControlName="file"
                 autocomplete="off"
                 type="text"
                 required="false">
          <mat-error *ngIf="searchWebsiteForm.get('file')?.hasError('required')">
            Pole nie może być puste!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button class="action-button"
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!searchWebsiteForm.get('file')?.valid">Dalej
        </button>
      </div>
    </div>
  </form>
  <div class="manual-part">
    <button class="manual-button"
            mat-raised-button
            color="accent"
            type="button"
            (click)="goToCollect()">Wprowadź dane ręcznie
    </button>
    <button class="manual-button"
            mat-raised-button
            color="accent"
            type="button"
            (click)="goToEdit()">Edytuj dane
    </button>
  </div>
</div>
